* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./giphy.gif');
  background-size: cover;
 
}

h1 {
  color: rgb(210, 235, 187);
  display: flex;
  justify-content: center;
}

#header {
  margin-top: 45px;
}

.container-itens {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

 .itens {
  border: 1px solid red;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 223px;
 }

 #color-palette {
  display: flex;
  justify-content: space-between;
  width: 230px;
  flex-wrap: wrap;
  margin-top: 40px;  
  border: 1px solid red;
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

#pixel-board {
  border: 1px solid black;
  width: 91%;
  display: grid;
  grid-template-columns: repeat(5, 40px);
  margin-top: 30px;
}


.pixel {
  border: 1px solid black;
  height: 40px;
}

.container-buttons {
  display: flex;

}

#button-random-color {
  padding: 10px;
  border-radius: 10px 20px;
  color: olive;
  font-family: monospace;
  border: 1px solid red;
}

#clear-board {
color: indigo;
font-size: 20px;
padding: 5px;
border-radius: 10px 20px;
font-family: monospace;
}


#clear-board:hover {
  background-color: lightskyblue;
}

#button-random-color:hover {
  background-color: lightcyan;
}


