* {
  margin: 0;
  padding: 0;

}

#header {
  margin-top: 45px;
}

#color-palette {
  display: flex;
  margin-left: 535px;
  margin-top: 40px;
}

.color {
  padding: 15px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
 
}

.pixel {
  border: 1px solid black;
  height: 40px;
  width: 40px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 40px);
  margin-left: 550px;
  margin-top: 60px;
  margin-right: 544px;
}

#clear-board {
  display: flex;
margin-top: 50px;
margin-left: 630px;
}

#button-random-color {
  display: flex;
  margin-top: -310px;
  margin-left: 410px;
}

#pixel-board {
  border: 1px solid black;
}